<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--url redirection should happen in following way
    1. create module and action separation
        ex : module - invoice
             action -add

    2.  handle all redirection at Main class
        ex : map servlet class as /invoice/*
  -->
    <listener>
        <listener-class>com.laki.InitH2DBServer</listener-class>
    </listener>

    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>com.laki.Main</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Invoice</servlet-name>
        <servlet-class>com.laki.InvoiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/invoice</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Invoice</servlet-name>
        <url-pattern>/invoice/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/billing</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/customer/add</url-pattern>
    </servlet-mapping>

</web-app>
